<fd-dialog [dialogRef]="dialogRef">
  <fd-dialog-header>
    <h1 id="fd-dialog-header-10" fd-title>The History of Pineapple</h1>
  </fd-dialog-header>

  <fd-dialog-body>
    <fdp-message-popover-form-wrapper #messagePopoverWrapper>
      <fdp-settings-generator
        #settingsGenerator
        [settings]="schema"
      ></fdp-settings-generator>
    </fdp-message-popover-form-wrapper>
  </fd-dialog-body>

  <fd-dialog-footer>
    <ng-template fdkTemplate="footer">
      <div fd-bar-left>
        <fdp-message-popover
          [wrapper]="messagePopoverWrapper"
        ></fdp-message-popover>
      </div>
      <div fd-bar-right>
        <fd-button-bar
          fdType="emphasized"
          label="Submit"
          (click)="submitSettings(settingsGenerator)"
          ariaLabel="Submit Emphasized"
        ></fd-button-bar>
        <fd-button-bar
          label="Cancel"
          (click)="dialogRef.dismiss('Cancel')"
          ariaLabel="Cancel"
        ></fd-button-bar>
      </div>
    </ng-template>
  </fd-dialog-footer>
</fd-dialog>
